.header {
  &__menu {

    &-logo {
      padding-top: 12px;
      padding-bottom: 11px;

      @include xs {
        width: 200px;
      }
    }

    &-navbar {

      &-toggler {
        width: 25px;
        height: 22px;
        position: relative;
        overflow: hidden;
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        
        &-icon {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          display: block;
          background-color: #000000;
          transition: 0.3s linear;
          border-radius: 10px;
    
          &:first-of-type {
            top: 1px;
          }
    
          &:nth-of-type(2) {
            top: 9px;
          }
    
          &:last-of-type {
            top: 17px;
          }
  
          &.active {
            background-color: $color-yellow;

            &:first-of-type {
              top: 9px; 
              transform: rotate(45deg);
            }
      
            &:nth-of-type(2) {
              left: -100%;
            }
      
            &:last-of-type {
              top: 9px;
              transform: rotate(-45deg);
            }
          }
      }

      
      }

      &-item {
        padding-left: 24px;
  
        &:hover,
        &:focus {
          color: $color-yellow;
        }
      }
    }
  }

  &__slider {
    &-indicators-item {
      display: inline;
      font-size: 10px;
    }

    &-slides-item {
      position: relative;
      height: 45.5vh;
      background-size: cover;
      background-position: 50% 50%;
    
      &-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &-caption {
        color: $color-white;

        &-wrapper {
          position: absolute;
          // top: calc(50% - 92px);
          top:  50%;  
          transform:  translate(0%,  -50%);

          h1 {
            margin-bottom: 20px;
            @include font-settings(45px, 48px, -25);
          }
  
          p {
            margin-bottom: 34px;
            width: 62%;
            @include font-settings(19px, 22px, -25);
          }
  
          button {
            @include font-settings(16px, 20px, -25);
            border-radius: 9px;
          }
        }
      }
    }
  }
}