@charset "UTF-8";
@font-face {
  font-family: 'Brother 1816';
  /* Имя шрифта */
  src: url(../../libs/font/Brother-1816-Regular.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brother 1816';
  /* Имя шрифта */
  src: url(../../libs/font/Brother-1816-Regular-Italic.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brother 1816';
  /* Имя шрифта */
  src: url(../../libs/font/Brother-1816-Medium.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: 500;
  font-style: normal;
}

/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.container {
  max-width: 1210px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  color: black;
  padding: 0 0 0 24px !important;
  font-size: 0.9rem;
}

.nav-link:first-of-type {
  padding: 0 !important;
}

.carousel-indicators {
  margin-bottom: 20px;
}

.carousel-indicators li {
  margin-left: 5px;
  margin-right: 5px;
  width: 10px;
  height: 0;
  text-indent: 0;
  background: none;
  color: #ffffff;
  opacity: 1;
}

.carousel-indicators .active {
  color: #eeab05;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.btn {
  padding: 7px 26px 8px;
}

.btn-warning {
  background-color: #eeab05;
  border-color: #eeab05;
}

.header__menu-logo {
  padding-top: 12px;
  padding-bottom: 11px;
}

.header__menu-navbar-item {
  padding-left: 24px;
}

.header__menu-navbar-item:hover, .header__menu-navbar-item:focus {
  color: #eeab05;
}

.header__slider-indicators-item {
  display: block;
  font-size: 10px;
}

.header__slider-slides-item {
  position: relative;
  height: 45.5vh;
  background-size: cover;
  background-position: 50% 50%;
}

.header__slider-slides-item-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__slider-slides-item-caption {
  color: #ffffff;
}

.header__slider-slides-item-caption-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.header__slider-slides-item-caption-wrapper h1 {
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 48px;
  letter-spacing: -1.125px;
}

.header__slider-slides-item-caption-wrapper p {
  margin-bottom: 34px;
  width: 62%;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -0.475px;
}

.header__slider-slides-item-caption-wrapper button {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.4px;
  border-radius: 9px;
}

.main {
  position: relative;
}

.main__chat {
  position: absolute;
  top: 30px;
  left: -300px;
  -webkit-transition: transoform 0.5s linear;
  -o-transition: transoform 0.5s linear;
  transition: transoform 0.5s linear;
}

.main__chat.active {
  -webkit-transform: translateX(316px);
      -ms-transform: translateX(316px);
          transform: translateX(316px);
}

.main__chat-window {
  height: 450px;
  width: 300px;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  background: url(/assets/img/bg-chat.jpg);
}

.main__chat-window-header {
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__chat-window-header p {
  padding: 0 8px;
  margin-bottom: 0;
  color: #eeab05;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  border-bottom: 2px solid #eeab05;
}

.main__chat-window-header button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 8px 0 0;
}

.main__chat-window-header button i {
  font-size: 22px;
  color: #eeab05;
}

.main__chat-window-dialog-response {
  padding: 8px;
  height: 310px;
  background-image: url(/assets/img/bg-dialog.png);
  background-size: auto;
  background-position: 0;
  background-color: white;
}

.main__chat-window-dialog-response p {
  position: relative;
  padding: 8px;
  letter-spacing: 1.2px;
  border-radius: 5px;
  background-color: #8ff168;
}

.main__chat-window-dialog-response p:after {
  content: '';
  position: absolute;
  right: 8px;
  bottom: -16px;
  border: 10px solid transparent;
  border-top: 8px solid #8ff168;
  border-right: 8px solid #8ff168;
}

.main__chat-window-request {
  position: relative;
}

.main__chat-window-request textarea {
  position: absolute;
  padding: 8px;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  resize: none;
  border: none;
  border-top: 1px solid #000;
}

.main__chat-window-request textarea:focus {
  outline: 0;
}

.main__chat-marker {
  position: absolute;
  top: 46px;
  left: 0;
}

.main__chat-marker p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 19px;
  line-height: 20px;
  letter-spacing: -0.475px;
  margin: 0;
  padding: 19px 10px 19px 11px;
  background-color: #eeab05;
}

.wedo {
  text-align: center;
  padding: 40px 0;
}

.wedo p {
  margin: 0 auto;
  width: 75%;
  color: #646464;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: -0.475px;
}

.wework {
  margin-bottom: 68px;
}

.wework__column {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.wework__column:first-of-type {
  padding-left: 15px;
}

.wework__column:last-of-type {
  padding-right: 15px;
}

.wework__tile {
  height: 301px;
  position: relative;
  overflow: hidden;
}

.wework__tile-caption-filter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wework__tile-caption-filter h3 {
  width: 60%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  left: 20%;
  line-height: 28px;
  letter-spacing: -0.7px;
  color: #ffffff;
}

.wework__tile-caption-triangle {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  color: white;
  width: 14px;
  height: 14px;
  border: 20px solid transparent;
  border-top: 20px solid #eeab05;
  border-right: 20px solid #eeab05;
  z-index: 1;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.wework__tile-caption i {
  position: absolute;
  top: 7px;
  right: 6px;
  font-size: 11px;
  color: #ffffff;
}

.wework__tile-caption .line-1,
.wework__tile-caption .line-2 {
  position: absolute;
  top: 10px;
  right: 7px;
  z-index: 1;
  display: block;
  width: 10px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.wework__tile-caption .line-2 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wework__tile:hover .line-1 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wework__tile:hover .line-2 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.wework__tile:hover .wework__tile-description-filter {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.wework__tile:hover .wework__tile-caption-filter {
  opacity: 0;
}

.wework__tile:hover .wework__tile-caption-triangle {
  border-top: 20px solid #000000;
  border-right: 20px solid #000000;
}

.wework__tile-description-filter {
  position: absolute;
  top: -100%;
  right: -100%;
  left: 100%;
  bottom: 100%;
  background: -o-linear-gradient(225deg, transparent 20px, rgba(238, 171, 5, 0.78) 0);
  background: linear-gradient(225deg, transparent 20px, rgba(238, 171, 5, 0.78) 0);
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.wework__tile-description p {
  position: absolute;
  top: 40px;
  left: 35px;
  right: 70px;
  font-size: 19px;
  line-height: 21px;
  letter-spacing: -0.475px;
}

.wework__tile-description-button {
  padding: 9px 15px 12px 15px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
  line-height: 20px;
  letter-spacing: -0.7px;
  border-radius: 9px;
}

.wework__tile-description-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.weare__title {
  padding-top: 45px;
  color: #ffffff;
}

.weare__description {
  margin: 0 auto 40px;
  width: 72%;
  color: #ffffff;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: -0.475px;
}

.weare__papers-counter {
  color: #eeab05;
  font-size: 45px;
  line-height: 30px;
  letter-spacing: -1.125px;
}

.weare__papers-caption {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1.125px;
}

.weare__authors-counter {
  color: #eeab05;
  font-size: 45px;
  line-height: 30px;
  letter-spacing: -1.125px;
}

.weare__authors-caption {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1.125px;
}

.weare__experts-counter {
  color: #eeab05;
  font-size: 45px;
  line-height: 30px;
  letter-spacing: -1.125px;
}

.weare__experts-caption {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1.125px;
}

.weare__button {
  margin: 0 auto 35px;
  border-radius: 9px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Brother 1816";
}

h2 {
  margin-bottom: 40px;
  font-size: 35px;
}

@media (max-width: 1199px) {
  .nav-link {
    font-size: 0.8rem;
    text-align: center;
  }
}
