- var lang = 'en'
- var myTitle = 'Заголовок страницы'
- var myDescription = 'Описание страницы'
- var cssPath = 'assets/css'
- var jQuery3 = true
- var bootstrap4Global = false
- var bootstrap4Local = true
- var googleFonts = false
- var fontAwesome = true