- var lang = 'en'
- var myTitle = 'Impact Science'
- var siteName = 'Publishing and journal'
- var myDescription = 'Publishing and journal'
- var cssPath = 'assets/css'
- var jQuery3 = true
- var bootstrap4Global = false
- var bootstrap4Local = true
- var googleFonts = false
- var fontAwesome = true