.weare {
  overflow-x: hidden;

  &__title {
    padding-top: 45px;
    color: $color-white;
  }

  &__description {
    margin: 0 auto 40px;
    width: 72%;
    color: $color-white;
    @include font-settings(19px, 20px, -25);
  }

  &__papers {

    &-counter {
      color: #eeab05;
      @include font-settings(45px, 30px, -25);
    }

    &-caption {
      color: $color-white;
      @include font-settings(19px, 22px, -25);
    }

    @include lg {
      margin-bottom: 16px;
    }
  }

  &__authors {

    &-counter {
      color: #eeab05;
      @include font-settings(45px, 30px, -25);
    }

    &-caption {
      color: $color-white;
      @include font-settings(20px, 30px, -25);
    }

    @include lg {
      margin-bottom: 16px;
    }
  }

  &__experts {

    &-counter {
      color: #eeab05;
      @include font-settings(45px, 30px, -25);
    }

    &-caption {
      color: $color-white;
      @include font-settings(20px, 30px, -25);
    }
  }

  &__button {
    margin: 0 auto 35px;
    border-radius: 9px;
  }
}