.wework {
  margin-bottom: 68px;

  &__column {
    padding-left: 7.5px;
    padding-right: 7.5px;

    &:first-of-type {
      padding-left: 15px;
    }

    &:last-of-type {
      padding-right: 15px;
    }
  }

  &__tile {
    height: 301px;
    position: relative;
    overflow: hidden;

    &-caption {
      // display: none;
      
      &-filter {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.5s ease;

        h3 {
          width: 60%;
          position: absolute;
          top:  50%;  
          transform:  translate(0%,  -50%);
          left: 20%;
          line-height: 28px;
          letter-spacing: -25 * 28px / 1000;
          color: $color-white;

          
        }
      }
      
      &-triangle {
        position: absolute;
        text-align: right;
        top: 0;
        right: 0;
        color: white;
        width: 14px;
        height: 14px;
        border: 20px solid transparent; 
        border-top: 20px solid $color-yellow; 
        border-right: 20px solid $color-yellow;
        z-index: 1;
        transition: 0.5s linear;
      }

      i {
        position: absolute;
        top: 7px;
        right: 6px;
        font-size: 11px;
        color: $color-white;
      }

      .line-1,
      .line-2 {
        position: absolute;
        top: 10px;
        right: 7px;
        z-index: 1;
        display: block;
        width: 10px;
        height: 3px;
        background-color: $color-white;
        transition: 0.5s linear;
      }

      .line-2 {
        transform: rotate(90deg);
      }
    }

    &:hover .line-1 {
      transform: rotate(180deg);
    }

    &:hover .line-2 {
      transform: rotate(270deg);
    }

    &:hover .wework__tile-description-filter {
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    &:hover .wework__tile-caption-filter {
      opacity: 0;
    }

    &:hover .wework__tile-caption-triangle {
      border-top: 20px solid #000000; 
      border-right: 20px solid #000000;
    }

    &-description {

      &-filter {
        position: absolute;
        top: -100%;
        right: -100%;
        left: 100%;
        bottom: 100%;
        background: linear-gradient(225deg, transparent 20px, rgba($color-yellow, 0.78) 0);
        transition: 0.5s linear;
        

      }

      p {
        position: absolute;
        top: 40px;
        left: 35px;
        right: 70px;
        font-size: 19px;
        line-height: 21px;
        letter-spacing: -25 * 19px / 1000;
      }

      &-button {
        padding: 9px 15px 12px 15px;
        position: absolute;
        right: 30px;
        bottom: 30px;
        border-color: #000000;
        background-color: #000000;
        color: $color-white;
        line-height: 20px;
        letter-spacing: -25 * 28px / 1000;
        border-radius: 9px;
        
        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
          color: $color-white;
        }
      }
    }
  }
}