.main {
  position: relative;

  &__chat {
    position: fixed;
    bottom: 30px;
    left: -300px;
    z-index: 99;
    transition: left 0.5s linear;

    @include xs {
      height: 100%;
      top: -100%;
      right: 0;
      left: 0;
      transition: top 0.5s linear; 
    }

    &.active {
      left: 16px;

      @include xs {
        top: 0;
        left: 0;
      }
    }

    &-window {
      height: 450px;
      width: 300px;
      border: 1px solid black;
      border-radius: 15px;
      overflow: hidden;
      background:url(/assets/img/bg-chat.jpg);

      @include xs {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }

      &-header {
        position: relative;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include xs {
          height: 15%;
        }
        
        p {
          padding: 0 8px;
          margin-bottom: 0;
          color: $color-yellow;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 3px;
          border-bottom: 2px solid $color-yellow;
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          padding: 8px 8px 0 0;
          
          i {
            font-size: 22px;
            color: $color-yellow;
          }
        }

      }

      &-dialog { 
        @include xs {
          height: 70%;
        }
        
        &-response {   
          padding: 8px;       
          height: 310px;
          background-image: url(/assets/img/bg-dialog.png);
          background-size: auto;
          background-position: 0;
          background-color: white;
          
          @include xs {
            height: 100%;
          }

          p {
            position: relative;
            transform: scale(0);
            padding: 8px; 
            letter-spacing: 1.2px;
            border-radius: 5px;
            background-color: rgb(143, 241, 104);
            transition: transform 0.4s linear;
            transition-delay: 0.5s;

            &.active {
              transform: scale(1);
            }

            &:after {
              content: ''; 
              position: absolute;
              right: 8px; 
              bottom: -16px;
              border: 10px solid transparent;
              border-top: 8px solid rgb(143, 241, 104);
              border-right: 8px solid rgb(143, 241, 104);
            }
          }
        }
      }

      &-request {
        position: relative;
        height: 68px;

        @include xs {
          height: 15%;
        }

        textarea {
          position: absolute;
          padding: 7px;
          width: 100%;
          top: 0;
          left: 0;
          width: 80%;
          bottom: 0; 
          resize: none;
          border: none;
          border-top: 1px solid #000;

          @include xs {
            height: auto;
            border-radius: 0;
          }

          &:focus {
            outline: 0;
          }
        }

        &-send {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 20%;
          top: 0;
          right: 0;
          bottom: 0;
          border-top: 1px solid #000;
          border-left: 1px solid #000;
          background-color: $color-yellow;
          border-radius: 0;
          
          i {
            font-size: 40px;
          }
        }
      }
    }

    &-marker {
      position: absolute;
      top: 46px;
      left: -41px;
      transition: left 0.5s linear;
      transition-delay: 0.5s;

      &.active {
        left: 0;
      }

      p {
        border-bottom-left-radius: 9px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        @include font-settings(19px, 20px, -25);
        margin: 0;
        padding: 19px 10px 19px 11px;
        background-color: $color-yellow;
      }
    }
  }
}

.wedo {
  text-align: center;
  padding: 40px 0;

  p {
    margin: 0 auto;
    width: 75%;
    color: $color-gray;
    @include font-settings(19px, 20px, -25);
  }
}