extends templates/main-template

block content
  main.main
    .main__chat-marker
        p Live chat
    .main__chat
      .main__chat-window
        .main__chat-window-header
          p Live chat
          button.btn
            i.far.fa-times-circle
        .main__chat-window-dialog
          .main__chat-window-dialog-response
            p Hi there! You've reached the science chat!
        .main__chat-window-request
          textarea(maxlegth="1000" rows="1" placeholder="Type your message here...")
    section.wedo
      .container
        h2 What we do
        p We use professional language skills and advanced design/digital resources to transform the presentation of academic and scientific thinking. The result: distinctive, engaging and memorable communication that enhances research’s commercial possibilities.
    section.wework
      .container
        h2.text-center Sectors we work in
        .row
          .col.col-lg-4.wework__column
            .wework__tile(style="background-image: url(assets/img/Layer-18.jpg); background-size: cover;")
              .wework__tile-caption
                .wework__tile-caption-filter
                  h3.text-center Solutions for publishers
                .wework__tile-caption-triangle
                span.line-1 
                span.line-2 
              .wework__tile-description
                .wework__tile-description-filter
                  p Get more from key content collections: Attract the next generation of society members.
                  button.wework__tile-description-button(type="button" class="btn btn-warning") Find out more
          .col.col-lg-4.wework__column
            .wework__tile(style="background-image: url(assets/img/Layer-19.jpg); background-size: cover;")
              .wework__tile-caption
                .wework__tile-caption-filter
                  h3.text-center Solutions for universities
                .wework__tile-caption-triangle
                span.line-1 
                span.line-2 
              .wework__tile-description
                .wework__tile-description-filter
                  p Get more from key content collections: Attract the next generation of society members.
                  button.wework__tile-description-button(type="button" class="btn btn-warning") Find out more
          .col.col-lg-4.wework__column
            .wework__tile(style="background-image: url(assets/img/Layer-20.jpg); background-size: cover;")
              .wework__tile-caption
                .wework__tile-caption-filter
                  h3.text-center Solutions for research groups
                .wework__tile-caption-triangle
                span.line-1 
                span.line-2 
              .wework__tile-description
                .wework__tile-description-filter
                  p Get more from key content collections: Attract the next generation of society members.
                  button.wework__tile-description-button(type="button" class="btn btn-warning") Find out more
    section.weare
      .container-fluid(style="background-image: url(assets/img/architecture-bk.jpg); background-size: cover;")
        .container
          h2.weare__title.text-center Who we are
          .row
            .col
              p.weare__description.text-center Impact Science is a division of a highly successful global English editing, translation and publication support service. We assist academics, institutions and companies worldwide with publishing in prestigious international journals.
          .row.mb-4
            .weare__papers.col.col-lg-4.text-center
              p.weare__papers-counter 950,000
              p.weare__papers-caption papers published
            .weare__authors.col.col-lg-4.text-center
              p.weare__authors-counter 296,000
              p.weare__authors-caption authors supported
            .weare__experts.col.col-lg-4.text-center
              p.weare__experts-counter 2,000+
              p.weare__experts-caption experts and communicators
          .row
            button.weare__button(type="button" class="btn btn-warning") Read more
    section.whywe
      .container
        h2.whywe__title.text-center Why choose Impact Science
        .whywe__content
          .row
            .col.col-lg-6
              .row
                .col-1
                  <i class="fas fa-check"></i>
                p.whywe__content-item.col
                  b Bespoke solutions
                  |  – We understand the communication challenges facing publishers, laboratories, research institutes and universities.
            .col.col-lg-6
              .row
                .col-1
                  <i class="fas fa-check"></i>
                p.whywe__content-item.col
                  b Reputation for delivery
                  |   – Nearly 300,000 people have benefited from our knowledge and integrity in research communication.
          .row
            .col.col-lg-6
              .col.col-lg-6
              .row
                .col-1
                  <i class="fas fa-check"></i>
                p.whywe__content-item.col
                  b Unique combined skillset
                  |   – Our language and design/production skills combine to produce powerful, effective communication.
            .col.col-lg-6
              .row
                .col-1
                  <i class="fas fa-check"></i>
                p.whywe__content-item.col
                  b Global reach
                  |  – We work with people, institutions and companies from all over the world - easily, quickly and very effectively.
        .row
          button.weare__button(type="button" class="btn btn-warning") Read more
    section.review
      .review__background(style="background-image: url(assets/img/background.jpg); background-size: cover; background-position: center;")
        .review__background-filters
          .review__background-filters-filter-1
          .review__background-filters-filter-2
          .review__background-filters-filter-3
        .container
          .row.review__slider
            .review__slider-item.col-sm-12.col-md-6.col-lg-3.col-xl-4
              h4.review__slider-item-title Read what our 
                span.review__slider-item-title-highlight publishing and journals 
                | clients say
              p.review__slider-item-comment Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              img(src="assets/img/Layer-22.png", alt="client-logo").review__slider-item-logo
              p.review__slider-item-sign Client Name, Company
            .review__slider-item.col-sm-12.col-md-6.col-lg-3.col-xl-4
              h4.review__slider-item-title Read what our 
                span.review__slider-item-title-highlight university 
                | clients say
              p.review__slider-item-comment Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              img(src="assets/img/Layer-22.png", alt="client-logo").review__slider-item-logo
              p.review__slider-item-sign Client Name, Company
            .review__slider-item.col-sm-12.col-md-6.col-lg-3.col-xl-4
              h4.review__slider-item-title Read what our 
                span.review__slider-item-title-highlight research group 
                | clients say
              p.review__slider-item-comment Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              img(src="assets/img/Layer-22.png", alt="client-logo").review__slider-item-logo
              p.review__slider-item-sign Client Name, Company
            .review__slider-item.col-sm-12.col-md-6.col-lg-3.col-xl-4
              h4.review__slider-item-title Read what our 
                span.review__slider-item-title-highlight research group 
                | clients say
              p.review__slider-item-comment Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              img(src="assets/img/Layer-22.png", alt="client-logo").review__slider-item-logo
              p.review__slider-item-sign Client Name, Company