extends templates/main-template

block content
  main.main
    .main__chat-marker
        p Live chat
    .main__chat
      .main__chat-window
        .main__chat-window-header
          p Live chat
          button.btn
            i.far.fa-times-circle
        .main__chat-window-dialog
          .main__chat-window-dialog-response
            p Hi there! You've reached the science chat!
        .main__chat-window-request
          textarea(maxlegth="1000" rows="1" placeholder="Type your message here...")
    section.wedo
      .container
        h2 What we do
        p We use professional language skills and advanced design/digital resources to transform the presentation of academic and scientific thinking. The result: distinctive, engaging and memorable communication that enhances research’s commercial possibilities.
    section.wework
      .container
        h2.text-center Sectors we work in
        .row.mb-5
          .col-lg-4
            .wework__tile.col(style="background-image: url(assets/img/Layer-18.jpg); background-size: cover; height: 310px; ")
              .wework__tile-caption
                .wework__tile-caption-filter
                  h3.text-center Solutions for publishers
                .wework__tile-caption-triangle
                span.line-1 
                span.line-2 
              .wework__tile-description
                .wework__tile-description-filter
                  p Get more from key content collections: Attract the next generation of society members.
                  button.wework__tile-description-button(type="button" class="btn btn-warning") Find out more
          .col-lg-4
            .wework__tile.col(style="background-image: url(assets/img/Layer-19.jpg); background-size: cover; height: 310px; ")
              .wework__tile-caption
                .wework__tile-caption-filter
                  h3.text-center Solutions for universities
                .wework__tile-caption-triangle
                span.line-1 
                span.line-2 
              .wework__tile-description
                .wework__tile-description-filter
                  p Get more from key content collections: Attract the next generation of society members.
                  button.wework__tile-description-button(type="button" class="btn btn-warning") Find out more
          .col-lg-4
            .wework__tile.col(style="background-image: url(assets/img/Layer-20.jpg); background-size: cover; height: 310px; ")
              .wework__tile-caption
                .wework__tile-caption-filter
                  h3.text-center Solutions for research groups
                .wework__tile-caption-triangle
                span.line-1 
                span.line-2 
              .wework__tile-description
                .wework__tile-description-filter
                  p Get more from key content collections: Attract the next generation of society members.
                  button.wework__tile-description-button(type="button" class="btn btn-warning") Find out more